* {
     font-family: 'Exo 2', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One', sans-serif;
    margin: 10px 0px;  
}

h1 {
     font-size: 4.209rem;  
}

h2 {
     font-size: 3.052rem; 
}

h3 {
     font-size: 2.441rem;
}

h4 { 
     font-size: 1.953rem;
}

h5 {
     font-size: 1.563rem; 
}

h6 {
     font-size: 1.25rem; 
}

p {
    color: #333;
}


div {
    border: 1px blue solid;
}

section {
    background: white;
    padding: 80px 40px;
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 36px;
}

img {
    /* width: 100%; */
}

/* Links */

a:link, a:visited {
    text-decoration: none;
    color: blue;
    padding-right: 16px;
}

a:hover {
    color: blueviolet;
}

a:active{
    color: coral;
}

/* Links End */

/* CTA Button start */

#hero div{
    margin-top: 48px;
}

a.cta-button:link, a.cta-button:visited {
    background-color: white;
    border-radius: 8px;
    padding: 16px 24px;
    color: black;
}

a.cta-button:hover {
    background-color: blue;
    color:white;
}

a.cta-button:active {
    background-color: blueviolet;
    color: white;
}

/* CV Download Button */

a.cv-button:link, a.cv-button:visited {
    background-color: blue;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
}

a.cv-button:hover {
    background-color: white;
    color:blue;
}

a.cv-button:active {
    background-color: blueviolet;
    color: white;
}

/* CV Download Button End */

#articles {
    justify-content: space-between;
}

.card {
    width: 250px;
    padding: ;
}

.card h5{
    font: center;
}

.img-card {
    width: 100%;
}

.img-feat {
    width: 100px;
    height: 100px;
    border-radius: 80px;
}

.card-feat {
    width: 250px;
}

.icons {
    font-size: 32px;
}

.container {
    display: flex;
}


.author-card {
    align-items: center;
}

.author-image {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}


#hero {
    background-image: url('/img/ironhack-students.jpg');
    background-size: cover;
    height: 56vh;
    text-align: center;
    color: white;
}

#contact {
    justify-content: space-around;
    background-color: blue;
    margin: 40px 0px 0px 0px;
    color: white;
}

#contact p{
    color: white;
}

#footer {
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}





